*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    height: 120px;
    background: #06B6D4;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#menu {
    display: flex;
    gap: 15px;
}

#menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 30px 15px;
    border-radius: 5px;
    -webkit-user-select: none;
    user-select: none;
    text-shadow: 1px 1px 1px #5c5c5c;
    font-size: 17px;
}

#menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    
}

#conteudo{
    padding: 50px 0;
    flex: 1;
}

footer {
    height: 50px;
    background: #0EA5E9;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.container{
    margin: 0 auto;
    width: 960px;
    max-width: 100%;
} 

.button_aluno, .button_curso{
    margin-top: 15px;
    margin-left: 50px;
}

.button_aluno button, .button_curso button {
    background-color: #06B6D4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.aluno_nome, .aluno_nascimento, .curso_nome, .curso_carga_horaria {

    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
}

.aluno_nome input, .aluno_nascimento input, .curso_nome input, .curso_carga_horaria input{
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.aluno_title, .curso_title{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse; /* Une as bordas da tabela */
    font-family: Arial, sans-serif;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Linhas alternadas */
}

tr:hover {
    background-color: #e0f7fa; /* Highlight ao passar o mouse */
}

td:first-child {
    font-weight: 500;
}